#idMasterListSearch-reset, #idMasterListSearch-search {
	background-color : #FFCC33 !important;
	color : #2A2727 !important;
	font-size: 25px !important;
}

#idMasterListSearch-F {
	border-color : #E3E4E5 !important;
	width : 99.8%;
}

.masterSearchField {
	margin : 0px !important;
	padding : 0px !important;
}

/* #__page1-cont {
	top : 2.5rem !important;
} */

#btnSearch-inner  {
    background-color : #2A2727 !important;
    border-color : #2A2727;
    color : #FFFFFF;
    border-radius : 5px;
}

.listFontBig {
	font-size : 16px;
	margin-bottom : 3px;
}

.listFontMedium {
	font-size : 12px;
}

.listFontSmall {
	font-size : 10px;
}

.sapMLIB.sapMLIBSelected {
    background: #E3E4E5;
}
.masterborder{
box-sizing: border-box;
width: 320px;
float: left;
left: 0;
border: solid;
border-width: 2px;
}


